<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-home mt-5 flex-wrap">
        <h1 class="t-stroke lt-1 animateHome1"></h1>
        <h1 class="t-stroke lt-2 animateHome2"></h1>
        <h1 class="t-stroke lt-3 animateHome3"></h1>
        <h1 class="t-stroke lt-4 animateHome4"></h1>
        <h1 class="t-stroke lt-5 animateHome5"></h1>
    </div>
    <!-- <div class="bg-home flex-wrap">
        <div class="me-4 justify-content-center d-flex flex-wrap">
            <h2 class="t-stroke lt-1 animateHome6"></h2>
            <h2 class="t-stroke lt-2 animateHome7"></h2>
            <h2 class="t-stroke lt-3 animateHome8"></h2>
            <h2 class="t-stroke lt-4 animateHome9"></h2>
        </div>
        <div class="justify-content-center d-flex flex-wrap">
            <h2 class="t-stroke lt-5 animateHome10"></h2>
            <h2 class="t-stroke lt-6 animateHome11"></h2>
            <h2 class="t-stroke lt-7 animateHome12"></h2>
            <h2 class="t-stroke lt-8 animateHome13"></h2>
            <h2 class="t-stroke lt-9 animateHome14"></h2>
            <h2 class="t-stroke lt-10 animateHome15"></h2>
            <h2 class="t-stroke lt-11 animateHome16"></h2>
            <h2 class="t-stroke lt-12 animateHome17"></h2>
        </div>
    </div> -->
</body>
</html>